.table-hover tbody tr {
    transition: background-color 0.2s;
}

.badge {
    font-weight: 500;
}

td>span>input[type="checkbox"] {
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.delete-btn {
    color: var(--bs-gray-400);
    cursor: pointer;

    &:hover {
        color: var(--bs-danger);
        font-size: 120%;
    }
}

.edit-btn {
    color: var(--bs-gray-400);
    cursor: pointer;

    &:hover {
        color: var(--bs-success);
        font-size: 120%;
    }
}